#
name = MySQL
jdbc.driver = com.mysql.cj.jdbc.Driver = com.mysql.jdbc.Driver
jdbc.url = jdbc:mysql://localhost:3306/auto_skola
jdbc.username = root
jdbc.password = 
#

#
name = Oracle
jdbc.driver = oracle.jdbc.driver.OracleDriver
jdbc.url = jdbc:oracle:thin:@localhost:3306:auto_skola
jdbc.username = system
jdbc.password = oracle
#

#
name = PostgreSQL
jdbc.driver = org.postgresql.Driver
jdbc.url = jdbc:postgresql://localhost:5432/auto_skola
jdbc.username = root
jdbc.password = 
#